<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>
</head>
<body>
    <h1>Save</h1>
    <form action="/save" method="post">
        <label for="prodName">name:</label>
        <input type="text" name="prodName" id="prodName"> <br>
        <label for="prodDesc">description:</label>
        <input type="text" name="prodDesc" id="prodDesc"> <br>
        <label for="prodPrice">price:</label>
        <input type="text" name="prodPrice" id="prodPrice"> <br>
        <label for="prodQuan">quantity:</label>
        <input type="text" name="prodQuan" id="prodQuan"> <br>
        <input type="submit" value="save">
    </form>
</body>
</html>